$header-bcg: #27262A;
$light-purple-color: #8D81AC;
$white-color: #FFFFFF;
$mobile-menu-bcg: #333333;
$revolutionary-color: #323232;
$mobile: 320px;
$tablet: 481px;
$desctop: 993px;
$padding-svg: .3rem .5rem;