@import '../../node_modules/reset-css/sass/reset';
@import '_variables';
@import '_mixins';
@import '_reset';
@import 'sections/sections';
:root {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    min-width: 32rem;
}

.wrapper {
    padding: 0 1rem;
}
button {
    cursor: pointer;
}